.apert{
   padding: 30px 140px 29px 152px;
   height: 90px;
   background: #181818;
   border-radius: 0px;
   &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items:center;
      img {
         width: 128px;
         height: 31px;
      }
   }
   &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
   }
   &__menu-item {
      margin-right: 56px;
      a {
         display: block;
         font-weight: 400;
         font-size: 15px;
         line-height: 20px;
         color: #FFFFFF;
         text-decoration: none;
         &:hover {
            color:rgb(160, 154, 154);

         }
      }
   }
   
}