.mountains {
   padding: 260px 62px 260px 900px;
   background:url("../../img/threeScrin/three\ scrin.jpg") center (center / cover) no-repeat;
   &__title {
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: #FFFFFF;
   }
   &__descr {
      width: 75%;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #C0C0C0;
   }
}